<component name="libraryTable">
  <library name="logback-1.2">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3/logback-access/src/main/java" />
      <root url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3/logback-access/src/test/java" />
      <root url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3/logback-classic/src/main/java" />
      <root url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3/logback-classic/src/test/java" />
      <root url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3/logback-core/src/main/java" />
      <root url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3/logback-core/src/test/java" />
      <root url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3/logback-examples/src/main/java" />
      <root url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/../JavaLib/logback-1.2.3" recursive="false" type="SOURCES" />
  </library>
</component>